.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 1.75rem;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}
